{% if site.bib_search %}
<div class="bib-search-wrapper">
  <div class="bib-search-container">
    <svg class="search-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
    <input type="text" id="bibsearch" spellcheck="false" autocomplete="off" class="bibsearch-form-input" placeholder="Search...">
  </div>
</div>
<script src="{{ '/assets/js/bibsearch.js' | relative_url }}" type="module"></script>
{% endif %}
